Checks: '-*,clang-diagnostic-*,llvm-*,-llvm-header-guard,misc-*'
HeaderFilterRegex: '^(.*[\\/])?(include[\\/]dxp|src[\\/]dxp|test)[\\/]'
ExcludeHeaderFilterRegex: '^(.*[\\/])?(external[\\/]DirectXShaderCompiler|out[\\/]build[\\/].*[\\/]dxc)[\\/]'
SystemHeaders: false