.vs/
build/
x64/
DXIL Assembler/x64/
Testing/
*.log
build_output.txt
original_dump.txt
patched_dump.txt
patched_dump_after_fix.txt

# Generated shader/test outputs
test/*.patched.cso
test/*.patched.dump.txt
test/*.patched.dxil
test/*.patched.hlsl
test/*.patched.i
test/*.patched.ll
test/*.decompiled.hlsl
test/*.dump.txt
test/*.i
test/*.orig.ll
test/*.dis